@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/CSS/ManageRecurringPosts.css" rel="stylesheet" />
    <title>Screen3</title>
</head>

<body>
    <div class="spinner"></div>
    <div class="manage-R" id="managetable">
        <!-- Modal -->
        <input type="text" value=@ViewBag.showBack id="backButton" style="display:none" />
        <input type="text" value=@ViewBag.emailid id="contextemail" style="display:none" />
        <div class="" role="document">
            <div class="mf-manage">
                <div class="modal-mb-sc2">
                    <table class="table custom-tb">
                        <thead>
                            <tr>
                                <th scope="col" class="qutin">Question<span id="questioncount"></span></th>
                                <th scope="col" class="privacy">Privacy</th>
                                <th scope="col" class="snd-post">Send post at</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                        </tbody>
                    </table>
                </div>
                <div class="mf modal-footer">
                    <div class="float-left" onclick="gotoIndex()">
                        <span class="left-chev"></span>
                        Back
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn-done" onclick="closeTaskModule()">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" tabindex="-1" id="edit">
        <div class="">
            <div class="post">
                <div class="row custom-rw">
                    <div class="custom-col">
                        <div class="card day">
                            <div class="card-body">
                                <div class="recurrence">Recurrence</div>
                                <div class="repeat">
                                    <div class="re">Repeat every</div>
                                    <div class="sel-day">
                                        <input name="number" value="1" class="number" type="text" pattern="\d*" maxlength="2" id="number" />
                                    </div>
                                    <div class="sel-day-day">
                                        <select name="day" class="day-drp" id="dwm" value="day">
                                            <option value="day">Day</option>
                                            <option value="week">Week</option>
                                            <option value="month">Month</option>
                                        </select>
                                        <span class="down-chev"></span>
                                    </div>
                                </div>

                                <div class="day-select">
                                    <button class="weekselect" id="Sunday">S</button>
                                    <button class="weekselect" id="Monday">M</button>
                                    <button class="weekselect" id="Tuesday">T</button>
                                    <button class="weekselect" id="Wednesday">W</button>
                                    <button class="weekselect" id="Thursday">T</button>
                                    <button class="weekselect" id="Friday">F</button>
                                    <button class="weekselect" id="Saturday">S</button>
                                </div>

                                <div class="month-cal">
                                    <div class="form-check">
                                        <input class="form-check-input on-day-radio" type="radio" name="days-check" id="on-day"
                                               value="days" checked>
                                        <label class="form-check-label on-day" for="on-day">
                                            On day
                                        </label>
                                        <input name="number" class="number" value="1" id="monthdate" type="text" pattern="\d*" maxlength="2" />
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input on-the-radio" type="radio" name="days-check" id="on-the-day"
                                               value="weeks">
                                        <label class="form-check-label on-day" for="on-the-day">
                                            On the
                                        </label>
                                        <select name="number" class="day-number" id="weekseries">
                                            <option value="First">First</option>
                                            <option value="Second">Second</option>
                                            <option value="Third">Third</option>
                                            <option value="Fourth">Fourth</option>
                                            <option value="Last">Last</option>
                                        </select>
                                        <select name="number" class="days-text" id="weekday">
                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="finaldates" id="finaldates">Every <span id="customnumber"></span> <span id="customtype"></span> <span id="slectedweeks"></span> starting from <span id="startdatedisplay"></span></div>
                                <div class="donebuttons">
                                    <button type="button" class="btn-send" onclick="saveRecurssion()">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" tabindex="-1" id="deleteIcon">
        <div class="deletemessage">Are you sure you want to delete this recurring post?</div>
        <div class="deletesubmessage">This change will only appear to future posts. To remove posts that have already been sent, delete them individually from the chat.</div>
        <div class="">
            <table class="table custom-tb">
                <tbody id="tabledeletebodydetails">
                </tbody>
            </table>
        </div>
        <div>
            <span class="left-chev float-left back-button" onclick="cancel()">Back</span>
            <div class="deleterecurrbuttons">
                <button type="button" class="btn-cancle" onclick="cancel()">Cancel</button>
                <button type="button" class="btn-send delete-recurr" onclick="deleteRecurssion()">Delete recurrence</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="~/Scripts/ManageRecurringPosts.js"></script>
    <script src="~/Scripts/timevalues.js"></script>
</body>
</html>